{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dive-detail.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <div class="page-header-sub-title">
    <img src="{% static 'images/coral2.svg' %}" alt="coral" />
    <h1>Dive No. {{ dive.number }}</h1>
  </div>
  <div class="page-header-sub-button">
    <section class="add-a-new">
      <div class="dive-actions">
        <a href="{% url 'dives_update' dive.id %}" class="btn warn">Edit</a>
        <a href="{% url 'dives_delete' dive.id %}" class="btn danger">Delete</a>
      </div>
    </section>
  </div>
</section>

<div class="form-container">
  <div class="form">
    <div class="questions question-main ">
      <div class="field-wrapper">
        <div class="sub-header-main">
          <img src="{% static 'images/020-diving.svg' %}" alt="calendar" />
          <h3>Date</h3>
        </div>
        <div class="data-container">
          <h4>{{ dive.date }}</h4>
        </div>
      </div>

      <div class="field-wrapper">
        <div class="sub-header-main soft-border-left hard-border-top">
          <img
            src="{% static 'images/018-diving.svg' %}"
            alt="map pin on the ocean"
          />
          <h3>Dive Site</h3>
        </div>
        <div class="data-container soft-border-left">
          <h4>{{ dive.site }}</h4>
        </div>
      </div>

      <div class="field-wrapper">
        <div class="sub-header-main soft-border-left hard-border-top">
          <img
            src="{% static 'images/island.svg' %}"
            alt="diving connections"
          />
          <h3>Trip</h3>
        </div>
        <div class="data-container soft-border-left">
          <h4 class="soft-border-left">{{ dive.trip }}</h4>
        </div>
      </div>
    </div>


    <div class="questions question-details">
      <div class="question-details-filler">
        <div class="sub-header-main">
          <img src="{% static 'images/024-diving.svg' %}" alt="a diving log" />
          <h3>Details</h3>
        </div>

        <div class="question-details-ss-bt-container">
          <div class="question-details-sub">
            <div class="sub-header">
              <img src="{% static 'images/002-oxygen-tank.svg' %}" alt="oxygen tank" />
              <h3>Air</h3>
            </div>

            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                <h3>Start (psi)</h3>
                <h4>{{ dive.air_start }}</h4>
              </div>

              <div class="field-wrapper soft-border-left">
                <h3>End (psi)</h3>
                <h4>{{ dive.air_end }}</h4>
              </div>

              <div class="field-wrapper soft-border-left">
                <h3>Type</h3>
                <h4>{{ dive.air_choice }}</h4>
              </div>
            </div>
          </div>

          <div class="question-details-sub soft-border-left soft-border-top">
            <div class="sub-header">
              <img src="{% static 'images/008-helmet.svg' %}" alt="helmet" />
              <h3>Depth</h3>
            </div>

            <div class="question-details-sub-inner">
              <div class="field-wrapper soft-border-left">
                <h3>Average</h3>
                <h4>{{ dive.depth_avg }}</h4>
              </div>

              <div class="field-wrapper soft-border-left">
                <h3>Max</h3>
                <h4>{{ dive.depth_max }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="question-details-ss-bt-container">
          <div class="question-details-sub soft-border-top">
            <div class="sub-header">
              <img src="{% static 'images/stop.svg' %}" alt="helmet" />
              <h3>Safety Stops</h3>
            </div>

            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                <h3>Depth</h3>
                <h4>{{ dive.safety_stop_depth }}</h4>
              </div>

              <div class="field-wrapper soft-border-left">
                <h3>Time (min)</h3>
                <h4>{{ dive.safety_stop_time }}</h4>
              </div>
            </div>
          </div>

          <div class="question-details-sub soft-border-left soft-border-top">
            <div class="sub-header">
              <img src="{% static 'images/sea-life.svg' %}" alt="helmet" />
              <h3>Bottom Time</h3>
            </div>

            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                <h3>BT</h3>
                <h4>{{ dive.bottom_time }}</h4>
              </div>

              <div class="field-wrapper soft-border-left">
                <h3>Acc. BT</h3>
                <h4>{{ dive.acc_bottom_time }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="question-conditions-equipment-container">
      <div class="questions question-conditions">
        <div class="question-conditions-filler">
          <div class="sub-header-main">
            <img src="{% static 'images/sunrise.svg' %}" alt="a diving log" />
            <h3>Conditions</h3>
          </div>

          <div class="sub-header">
            <img src="{% static 'images/cloudy-day.svg' %}" alt="helmet" />
            <h3>Weather</h3>
          </div>
          <div class="field-wrapper">
            <h4>{{ dive.weather }}</h4>
          </div>

          <div class="sub-header soft-border-top">
            <img src="{% static 'images/handwash.svg' %}" alt="a diving log" />
            <h3>Visibility</h3>
          </div>
          <div class="field-wrapper">
            <h4>{{ dive.visibility }}</h4>
          </div>

          <div class="sub-header soft-border-top">
            <img
              src="{% static 'images/laundry.svg' %}"
              alt="thermometer in water"
            />
            <h3>Temperature</h3>
          </div>
          <div class="temperature-wrapper">
            <div class="field-wrapper">
              <h3>Air</h3>
              <h4>{{ dive.temperature_air }}</h4>
            </div>
            <div class="field-wrapper soft-border-left">
              <h3>Surface</h3>
              <h4>{{ dive.temperature_surface }}</h4>
            </div>
            <div class="field-wrapper soft-border-left">
              <h3>Bottom</h3>
              <h4>{{ dive.temperature_bottom }}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="questions question-equipment">
        <div class="question-equipment-filler">
          <div class="sub-header-main">
            <img src="{% static 'images/001-fins.svg' %}" alt="a diving log" />
            <h3>Equipment</h3>
          </div>

          <div class="sub-header">
            <img src="{% static 'images/016-diver.svg' %}" alt="dive weights" />
            <h3>Exposure Protection</h3>
          </div>
          <div class="temperature-wrapper">
            <div class="field-wrapper">
              <h3>Suit</h3>
              <h4>{{ dive.suit_desc }}</h4>
            </div>
            <div class="field-wrapper soft-border-left">
              <h3>Thickness</h3>
              <h4>{{ dive.suit_thickness }}</h4>
            </div>
          </div>
          <div class="field-wrapper soft-border-top-expand">
            <h3>Notes</h3>
            <h4>{{ dive.suit_notes }}</h4>
          </div>

          <div class="sub-header soft-border-top">
            <img
              src="{% static 'images/005-weights.svg' %}"
              alt="dive weights"
            />
            <h3>Weight</h3>
          </div>
          <div class="weight-wrapper">
            <div class="field-wrapper">
              <h3>Weight (lb)</h3>
              <h4>{{ dive.weight }}</h4>
            </div>
            <div class="field-wrapper soft-border-left">
              <h3>Rating</h3>
              <h4>{{ dive.weight_rating }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="question-conditions-equipment-container">
      <div class="questions question-conditions">
        <div class="question-conditions-filler">
          <div class="sub-header-main">
            <img
              src="{% static 'images/023-divers.svg' %}"
              alt="a diving log"
            />
            <h3>Dive Buddies</h3>
          </div>

          <section class="buddies">
            <h3>Attending</h3>
            <div class="subsection-content">
              {% if dive.buddies.count %} 
                {% for buddy in dive.buddies.all %}
                  <div class="buddy-container">
                    <div class="color-block"></div>
                    <a href="{% url 'buddies_detail' buddy.id %}">
                    </a>
                  </div>
                {% endfor %} 
              {% else %}
                <p class="no-buddies">This dive doesn't have any buddies 😞</p>
              {% endif %}
            </div>
            <h3>Available</h3>
            <div class="subsection-content">
              {% if buddies_not_currently_attending.count %} 
                {% for buddy in buddies_not_currently_attending.all %}
                <div class="buddy-container">
                  <div class="color-block"></div>
                  <a href="{% url 'buddies_detail' buddy.id %}">
                    <div class="buddy-content">
                    {% if buddy.icon %}
                      {% if buddy.icon == "A" %}
                      <img src="{% static 'images/014-diver.svg' %}" alt="brunette diver" />
                      {% elif buddy.icon == "B" %}
                      <img src="{% static 'images/015-diver.svg' %}" alt="blonde diver" />
                      {% else %}
                      <img src="{% static 'images/016-diver.svg' %}" alt="mysterious diver" />
                      {% endif %}
                    {% endif %}
                    <h3>{{ buddy.name }}</h3>
                    </div>
                  </a>
                  <form
                    action="{% url 'associate_buddy_with_dive' dive.id buddy.id %}"
                    method="post"
                  >
                  {% csrf_token %}
                    <button type="submit" class="btn submit">+</button>
                  </form>
                </div>
                {% endfor %} 
              {% else %}
                <p class="all-buddies">
                  All available buddies already attending 🥳
                </p>
              {% endif %}
            </div>
          </section>
        </div>
      </div>

      <div class="questions question-equipment">
        <div class="question-equipment-filler">
          <div class="sub-header-main">
            <img
              src="{% static 'images/038-diving.svg' %}"
              alt="a diving log"
            />
            <h3>Notes</h3>
          </div>

          <section class="notes">
            <h3>Add a Note</h3>
            <form
              action="{% url 'add_note' dive.id %}"
              method="post"
              class="subsection-content"
            >
              {% csrf_token %} {{ note_form.as_p }}
              <button type="submit" class="btn submit">Add Note</button>
            </form>
            <h3>Past Notes</h3>
            {% if dive.note_set.all.count %}
            <table>
              <thead>
                <tr>
                  <th>Note</th>
                </tr>
              </thead>
              <tbody>
                {% for note in dive.note_set.all %}
                <tr>
                  <td>{{note.note}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p class="subsection-content">No notes yet!</p>
            {% endif %}
          </section>
        </div>
      </div>
    </div>

    <div class="questions question-main">
      <div class="field-wrapper">
        <div class="sub-header-main">
          <img src="{% static 'images/009-camera.svg' %}" alt="a diving log" />
          <h3>Photo</h3>
        </div>

        <div class="dive-img">
          {% if dive.photo.url %}
          <img
            src="{{dive.photo.url}}"
            alt="A photo of {{dive.number}}"
            class="usr-img"
          />
          {% else %}
          <img
            src="{% static 'images/placeholder.png' %}"
            alt="placeholder image"
          />
          {% endif %}
        </div>

        <h3>Change dive photo</h3>
        <p id="file-name"></p>
        <form
          action="{% url 'add_photo' dive.id %}"
          enctype="multipart/form-data"
          method="POST"
        >
          {% csrf_token %}
          <label class="btn secondary"
            >Select
            <input type="file" name="photo-file" id="file-input" />
          </label>
          <button type="submit" class="btn submit">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
