{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dive-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <div class="page-header-sub-title">
    <h1>My Dives</h1>
    <img src="{% static 'images/logo.svg' %}" alt="logo" />
  </div>
  <div class="page-header-sub-button">
    <section class="add-a-new">
    <a class="add-a-new-link btn submit" href="{% url 'dives_create' %}">+ Dive</a>
    </section>
  </div>
</section>

<section class="card-container">
  {% for dive in dives %}
  <div class="card">
    <div class="card-bg">
      <img src="{% static 'images/coral.svg' %}" alt="pink coral" />
    </div>
    <a href="{% url 'dives_detail' dive.id %}">
      <div class="card-content">
        <h2>{{ dive.number }}</h2>
        <h3>{{ dive.site }}</h3>
        <p>{{ dive.date }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}

