{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dive-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>My Dives</h1>
  <img src="{% static 'images/1.png' %}" alt="2" />
  <img src="{% static 'images/2.png' %}" alt="3" />
  <img src="{% static 'images/3.png' %}" alt="3" />
  <img src="{% static 'images/4.png' %}" alt="4" />
</section>

<section class="card-container">
  {% for dive in dives %}
    <div class="card">
      <a href="/dives/{{ dive.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/placeholder.png' %}" 
              alt="placeholder image"
              class="card-img"
            >
          </div>
          <h2 class="card-title">#{{ dive.number }}</h2>
            <p>{{ dive.location }}</p>
            <p>Max depth: {{ dive.max_depth }} ft</p>
          <p><small>{{ dive.notes }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
