{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/buddy-detail.css' %}"
/>
{% endblock %}

{% block content %}
  
<div class="card" style="border-color: {{ buddy.color }}">
  <div class="card-bg" style="background-color: {{ buddy.color }}"></div>
  <div class="card-content">
    <h2>{{ buddy.name }}</h2>
    <p>A {{ buddy.color }} buddy</p>
  </div>
</div>
<a href="{% url 'buddies_update' buddy.id %}" class="btn warn">Edit</a>
<a href="{% url 'buddies_delete' buddy.id %}" class="btn danger">Delete</a>

{% endblock %}