{% extends 'base.html' %} {% load static %} {% block head %}
<link
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/dive-form.css' %}" />
<script defer src="{% static 'js/dive-detail.js' %}"></script>
{% endblock %} {% block content %}

<div class="page-header">
  {% if object %}
  <h1>Edit Dive</h1>
  {% else %}
  <h1>Add a Dive</h1>
  {% endif %}
</div>

<div class='form-container'>
  <form action="" method="post" class="form" autocomplete="off">
    {% csrf_token %}
    <div class="questions question-main">
      <div class="field-wrapper">
        {{ form.number.errors }}
        <div class="sub-header-main">
          <h3><label for="id_number">Dive No.</label></h3>
          <img src="{% static 'images/036-diving.svg' %}" alt="a sign with diving goggles" />
        </div>
        {{ form.number }}
      </div>
      <div class="field-wrapper">
        {{ form.date.errors }}
        <div class="sub-header-main">
          <h3><label for="id_date">Date</label></h3>
          <img src="{% static 'images/020-diving.svg' %}" alt="calendar" />
        </div>
        {{ form.date }}
      </div>
      <div class="field-wrapper">
        {{ form.site.errors }}
        <div class="sub-header-main">
          <h3><label for="id_site">Dive Site</label></h3>
          <img src="{% static 'images/018-diving.svg' %}" alt="map pin on the ocean" />
        </div>
        {{ form.site }}
      </div>
      <div class="field-wrapper">
        {{ form.trip.errors }}
        <div class="sub-header-main">
          <h3><label for="id_trip">Trip</label></h3>
          <img src="{% static 'images/028-diving.svg' %}" alt="diving connections" />
        </div>
        {{ form.trip }}
      </div>
    </div>


    <div class="questions question-details">
      <div class="question-details-filler">
        <div class="sub-header-main">
          <h3>Details</h3>
          <img src="{% static 'images/024-diving.svg' %}" alt="a diving log" />
        </div>
        <div class="question-details-sub">
          <div class="sub-header">
            <h3>Air</h3>
            <img src="{% static 'images/002-oxygen-tank.svg' %}" alt="oxygen tank" />
          </div>
          <div class="question-details-sub-inner">
            <div class="field-wrapper">
              {{ form.air_start.errors }}
              <h3><label for="id_air_start">Start (psi)</label></h3>
              {{ form.air_start }}
            </div>
            <div class="field-wrapper">
              {{ form.air_end.errors }}
              <h3><label for="id_air_end">End (psi)</label></h3>
              {{ form.air_end }}
            </div>
            <div class="field-wrapper">
              {{ form.air_choice.errors }}
              <h3><label for="id_air_choice">Air or Nitrox?</label></h3>
              {{ form.air_choice }}
            </div>
          </div>
        </div>

        <div class="question-details-sub">
          <div class="sub-header">
            <h3>Depth</h3>
            <img src="{% static 'images/008-helmet.svg' %}" alt="helmet" />
          </div>
          <div class="question-details-sub-inner">
            <div class="field-wrapper">
              {{ form.depth_avg.errors }}
              <h3>{{ form.depth_avg.label_tag }}</h3>
              {{ form.depth_avg }}
            </div>
            <div class="field-wrapper"> 
              {{ form.depth_max.errors }}
              <h3>{{ form.depth_max.label_tag }}</h3>
              {{ form.depth_max }}
            </div>
          </div>
        </div>

        <div class="question-details-ss-bt-container">
          <div class="question-details-sub">
            <div class="sub-header">
              <h3>Safety Stops</h3>
              <img src="{% static 'images/stop.svg' %}" alt="helmet" />
            </div>
            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                {{ form.safety_stop_depth.errors }}
                <h3>{{ form.safety_stop_depth.label_tag }}</h3>
                {{ form.safety_stop_depth }}
              </div>
              <div class="field-wrapper">
                {{ form.safety_stop_time.errors }}
                <h3>{{ form.safety_stop_time.label_tag }}</h3>
                {{ form.safety_stop_time }}
              </div>
            </div>
          </div>

          <div class="question-details-sub">
            <div class="sub-header">
              <h3>Bottom Time</h3>
              <img src="{% static 'images/sea-life.svg' %}" alt="helmet" />
            </div>
            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                {{ form.bottom_time.errors }}
                <h3>{{ form.bottom_time.label_tag }}</h3>
                {{ form.bottom_time }}
              </div>
              <div class="field-wrapper">
                {{ form.acc_bottom_time.errors }}
                <h3>{{ form.acc_bottom_time.label_tag }}</h3>
                {{ form.acc_bottom_time }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="question-conditions-equipment-container">
      <div class="questions question-conditions">
        <div class="question-conditions-filler">
          <div class="sub-header-main">
            <h3>Conditions</h3>
            <img src="{% static 'images/sunrise.svg' %}" alt="a diving log" />
          </div>

          <div class="sub-header">
            <h3>Weather</h3>
            <img src="{% static 'images/cloudy-day.svg' %}" alt="helmet" />
          </div>
          <div class="field-wrapper">
            {{ form.weather.errors }}
            <h3>{{ form.weather.label_tag }}</h3>
            {{ form.weather }}
          </div>

          <div class="sub-header">
            <h3>Visibility</h3>
            <img src="{% static 'images/handwash.svg' %}" alt="a diving log" />
          </div>
          <div class="field-wrapper">
            {{ form.visibility.errors }}
            <h3>{{ form.visibility.label_tag }}</h3>
            {{ form.visibility }}
          </div>

          <div class="sub-header">
            <h3>Temperature</h3>
            <img src="{% static 'images/laundry.svg' %}" alt="thermometer in water" />
          </div>
          <div class="field-wrapper">
            {{ form.temperature_air.errors }}
            <h3>{{ form.temperature_air.label_tag }}</h3>
            {{ form.temperature_air }}
          </div>
          <div class="field-wrapper">
            {{ form.temperature_surface.errors }}
            <h3>{{ form.temperature_surface.label_tag }}</h3>
            {{ form.temperature_surface }}
          </div>
          <div class="field-wrapper">
            {{ form.temperature_bottom.errors }}
            <h3>{{ form.temperature_bottom.label_tag }}</h3>
            {{ form.temperature_bottom }}
          </div>
        </div>
      </div>


      <div class="questions question-equipment">
        <div class="question-equipment-filler">
          <div class="sub-header-main">
            <h3>Equipment</h3>
            <img src="{% static 'images/001-fins.svg' %}" alt="a diving log" />
          </div>

          <div class="sub-header">
            <h3>Exposure Protection</h3>
            <img src="{% static 'images/016-diver.svg' %}" alt="dive weights" />
          </div>
          <div class="field-wrapper">
            {{ form.suit_desc.errors }}
            <h3>{{ form.suit_desc.label_tag }}</h3>
            {{ form.suit_desc }}
          </div>
          <div class="field-wrapper"> 
            {{ form.suit_thickness.errors }}
            <h3>{{ form.suit_thickness.label_tag }}</h3>
            {{ form.suit_thickness }}
          </div>
          <div class="field-wrapper"> 
            {{ form.suit_notes.errors }}
            <h3>{{ form.suit_notes.label_tag }}</h3>
            {{ form.suit_notes }}
          </div>

          <div class="sub-header">
            <h3>Weight</h3>
            <img src="{% static 'images/005-weights.svg' %}" alt="dive weights" />
          </div>
          <div class="field-wrapper">
            {{ form.weight.errors }}
            <h3>{{ form.weight.label_tag }}</h3>
            {{ form.weight }}
          </div>
          <div class="field-wrapper"> 
            {{ form.weight_rating.errors }}
            <h3>{{ form.weight_rating.label_tag }}</h3>
            {{ form.weight_rating }}
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn submit">Submit!</button>
  </form>
<div>

{% endblock %}
