{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dive-delete-form.css' %}" />
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Delete Dive?</h1>
</div>

<div class='form-container'>
  <form action="" method="POST" class="form" autocomplete="off">
  {% csrf_token %}
    <div class="questions">
      <div class="field-wrapper">
        <h2>Are you sure you want to delete Dive No. {{ object.number }}?</h2>
        <div class='button-container'>
          <button type="submit" class="btn danger">Delete!</button>
          <a href="{% url 'dives_detail' dive.id %}" class="btn secondary">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}