{% extends 'base.html' %}
{% load static %}

{% block head %}
<link
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/trip-form.css' %}" />
<script defer src="{% static 'js/trip-detail.js' %}"></script>
{% endblock %} 

{% block content %}
<div class="page-header">
  {% if object %}
  <h1>Edit {{ object.destination }}</h1>
  {% else %}
  <h1>Add a Trip</h1>
  {% endif %}
</div>

<div class='form-container'>
  <form action="" method="post" class="form" autocomplete="off">
    {% csrf_token %}
    <div class="questions question-main">
      <div class="field-wrapper">
        {{ form.destination.errors }}
        <div class="sub-header-main">
          <h3><label for="id_destination">Destination</label></h3>
          <img src="{% static 'images/island.svg' %}" alt="a sign with diving goggles" />
        </div>
        {{ form.destination }}
      </div>
      <div class="field-wrapper">
        {{ form.country.errors }}
        <div class="sub-header-main">
          <h3><label for="id_country">Country</label></h3>
          <img src="{% static 'images/earth-globe.svg' %}" alt="globe" />
        </div>
        {{ form.country }}
      </div>
      <div class="field-wrapper">
        {{ form.start_date.errors }}
        <div class="sub-header-main">
          <h3><label for="id_start_date">Start Date</label></h3>
          <img src="{% static 'images/020-diving.svg' %}" alt="map pin on the ocean" />
        </div>
        {{ form.start_date }}
      </div>
      <div class="field-wrapper">
        {{ form.end_date.errors }}
        <div class="sub-header-main">
          <h3><label for="id_end_date">End Date</label></h3>
          <img src="{% static 'images/020-diving.svg' %}" alt="diving connections" />
        </div>
        {{ form.end_date }}
      </div>
    </div>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
</div>

{% endblock %}