{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/trip-detail.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <div class="page-header-sub-title">
    <img src="{% static 'images/island.svg' %}" alt="mysterious diver" />
    <h1>{{ trip.destination }}</h1>
  </div>
  <div class="page-header-sub-button">
    <section class="add-a-new">
      <div class="trip-actions">
        <a href="{% url 'trips_update' trip.id %}" class="btn warn">Edit</a>
        <a href="{% url 'trips_delete' trip.id %}" class="btn danger">Delete</a>
      </div>
    </section>
  </div>
</section>
  
<div class="dive-log-container">
  <div class="dive-log">

    <div class="questions question-details">
      <div class="question-details-filler">

        <div class="question-details-ss-bt-container">
          <div class="question-details-sub">
            <div class="sub-header">
              <img src="{% static 'images/island.svg' %}" alt="oxygen tank" />
              <h3>Destination</h3>
            </div>
            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                <h3>{{ trip.destination }}</h3>
              </div>
            </div>
          </div>

          <div class="question-details-sub soft-border-left soft-border-top">
            <div class="sub-header">
              <img src="{% static 'images/earth-globe.svg' %}" alt="helmet" />
              <h3>Country</h3>
            </div>

            <div class="question-details-sub-inner">
              <div class="field-wrapper soft-border-left">
                <h3>{{ trip.country }}</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="question-details-ss-bt-container">
          <div class="question-details-sub soft-border-top soft-border-top-expand">
            <div class="sub-header">
              <img src="{% static 'images/020-diving.svg' %}" alt="helmet" />
              <h3>Start Date</h3>
            </div>

            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                <h3>{{ trip.start_date }}</h3>
              </div>
            </div>
          </div>

          <div class="question-details-sub soft-border-left soft-border-top soft-border-top-expand">
            <div class="sub-header">
              <img src="{% static 'images/020-diving.svg' %}" alt="helmet" />
              <h3>End Date</h3>
            </div>

            <div class="question-details-sub-inner">
              <div class="field-wrapper">
                <h3>{{ trip.end_date }}</h3>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}