{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/trip-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <div class="page-header-sub-title">
    <h1>My Trips</h1>
    <img src="{% static 'images/018-diving.svg' %}" alt="diving map pin" />
  </div>
  <div class="page-header-sub-button">
    <section class="add-a-new">
    <a class="add-a-new-link btn submit" href="{% url 'trips_create' %}">+ Trip</a>
    </section>
  </div>
</section>

<section class="card-container">
  {% for trip in trips %}
  <div class="card">
    <div class="card-bg">
      <img src="{% static 'images/travel4.svg' %}" alt="suitcase with an island" />
    </div>
    <a href="{% url 'trips_detail' trip.id %}">
      <div class="card-content">
        <h2>{{ trip.destination }}</h2>
        <h3>{{ trip.country }}</h3>
        <p>{{ trip.start_date }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}