{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/logo.svg' %}"
    />
    <title>Neptune</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark nav-bar-extended">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                  <img src="{% static 'images/logo.svg' %}" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
                  neptune
                </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <a class="nav-link" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="{% url 'dives_index' %}">Dives</a>
              <a class="nav-link" href="{% url 'trips_index' %}">Trips</a>
              <a class="nav-link" href="{% url 'buddies_index' %}">Buddies</a>
              {% comment %} <a class="nav-link" href="{% url 'about' %}">About</a> {% endcomment %}
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              {% else %}
              {% comment %} <a class="nav-link" href="{% url 'about' %}">About</a> {% endcomment %}
              <a class="nav-link" href="{% url 'home' %}">Login</a>
              <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav> 
      
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html> 


{% comment %} 
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'dives_index' %}">My Dives</a></li>
              <li class="nav-item"><a href="{% url 'dives_create' %}">Add a Dive</a></li>
              <li class="nav-item"><a href="{% url 'trips_index' %}">My Trips</a></li>
              <li class="nav-item"><a href="{% url 'trips_create' %}">Add a Trip</a></li>
              <li class="nav-item"><a href="{% url 'buddies_index' %}">My Dive Buddies</a></li>
              <li class="nav-item"><a href="{% url 'buddies_create' %}">Add a Dive Buddy</a></li>
              <li class="nav-item"><a href="{% url 'about' %}">About</a></li>
              <li class="nav-item"><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
              <li class="nav-item"><a href="{% url 'about' %}">About</a></li>
              <li class="nav-item"><a href="{% url 'home' %}">Login</a></li>
              <li class="nav-item"><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        <div class="container-fluid">
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html> {% endcomment %}
