{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/helmet3.png' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <title>Neptune</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img
            src="{% static 'images/gimmesomekindlogo.png' %}"
            alt="logo"
            class="logo-image"
          />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'dives_index' %}">My Dives</a></li>
          <li><a href="{% url 'dives_create' %}">Add a Dive</a></li>
          <li><a href="{% url 'buddies_index' %}">All Dive Buddies</a></li>
          <li><a href="{% url 'buddies_create' %}">Add a Dive Buddy</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
