{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %} {% block content %}

<div class="background-lottie">
  <lottie-player
    src="https://assets5.lottiefiles.com/packages/lf20_qsgqcwag.json"
    background="transparent"
    speed=".3"
    style="width: 100%; height: 100%"
    loop
    autoplay
    Scale="5"
    class="lottie-file"
  ></lottie-player>
</div>
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>sign in,<br>get wet</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %} {% endblock %}
