html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  --nav-bg: rgba(104, 197, 248, 0.7);
  --nav-bg-ff: rgba(37, 41, 47, 0.9);
  --borders: rgb(33, 37, 43) solid 2px;
  --text-color: #ffffff;
  --link-hover-color: rgb(16, 56, 158);
  --button-bg: rgba(182, 132, 40, 0.7);
  --button-bg-hover: #0e1b33;
  --submit: rgba(116, 199, 61, 0.623);
  --warn: rgba(255, 102, 0, 0.623);
  --danger: rgba(219, 51, 51, 0.623);
  --secondary: rgba(75, 70, 70, 0.623);
  --card-box-shadow: 5px 5px 6px -1px rgb(0, 21, 83);
  --font-xtreme: 4.2rem;
  --font-xxl: 3.4rem;
  --font-xl: 2.4rem;
  --font-l: 1.7rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
  color: #ffffff;
  background: #0e1b33;
}

header {
  width: 100%;
  background: var(--nav-bg-ff);
  border-bottom: var(--borders);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
}

.nav-bar-extended {
  background: #0e1b33;
}

.navbar-brand {
  font-size: 2.1rem;
}

.nav-link {
  font-size: 1.6rem;
}

.logo-image {
  max-width: 80px;
}

.page-header {
  color: var(--text-color);
  display: flex;
  align-items: center;
  margin: 20px;
}

.btn {
  font-size: 1.5rem;
  padding: 4px 9px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  opacity: .93;
  color: white;
}

.btn:hover {
  color: white;
  font-weight: 550;
  background-color: var(--button-bg-hover);
}

.submit {
  background-color: var(--button-bg);
  border-color: var(--button-bg);
}

.submit:hover {
  background-color: var(--submit);
}

.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.secondary:hover {
  background-color: var(--secondary);
  border-color: var(--button-bg);
}

.warn {
  background-color: var(--warn);
  border-color: var(--warn);
}

.warn:hover {
  background-color: var(--warn);
  border-color: var(--button-bg);
}

.danger{
  background-color: var(--danger);
  border-color: var(--danger);
}

.danger:hover {
  background-color: var(--danger);
  border-color: var(--button-bg);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left: 10px;
}

.page-header img:first-of-type {
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }

  .page-header img {
    height: 50px;
    margin-left: 20px;
  }

  .page-header img:first-of-type {
    margin-left: 12px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      background: var(--nav-bg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 55px);
  }

  header {
    background-color: transparent;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }
  }
}
