.page-header {
  margin-bottom: 10px;
  justify-content: space-between;
}

.page-header-sub-title {
  display: flex;
}


.add-a-new {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dive-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}


.sub-header,
.sub-header-main {
  display: flex;
  align-items: center;
}


.sub-header img {
  height: 30px;
  margin-right: 10px;
}


.sub-header-main img {
  height: 30px;
  margin: 0 6px 0 3px;
}


.main-field-header {
  display: flex;
  align-items: center;
}

.main-field-header img {
  height: 30px;
  margin-right: 5px;
}

.form-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.form {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.questions {
  margin: 3px 8px 5px;
  border: 2px solid rgba(255, 255, 255, 0.212);
  border-radius: 12px;
  background-color: rgb(23, 43, 71);    

}

.questions-main {
  width: 100%;
}


.sub-header-main {
  background-color: rgb(29, 54, 90);
  border-bottom: 2px solid rgba(255, 255, 255, 0.212);
  width: 100%;
}

.sub-header-main > h3 {
  font-size: clamp(2.8rem, 2.7vw, 3.2rem);
  margin: 10px 0 10px 0;
  font-weight: 650;
}

.sub-header {
  background-color: rgb(25, 48, 80);
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  width: 100%;
}


.sub-header > h3 {
  font-size: clamp(2.3rem, 2.2vw, 3rem);
  margin: 10px 0;
  font-weight: 600;
}

.field-wrapper {
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  height: 100%;
}

.field-wrapper > h3 {
  font-size: clamp(1.8rem, 1.4vw, 2.3rem);
  margin: 10px 12px;
  font-weight: 465;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.data-container {
  width: 100%;
  display: flex;
  align-items: center;
}

h4 {  
  font-weight: 370;
  font-size: clamp(1.5rem, 1.1vw, 2rem);
  padding: 8px 12px 10px 12px;
  margin-bottom: 0;
}

.btn {
  align-self: flex-end;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .questions {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  
  .question-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .question-main,
  .question-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px 7px;
  }

  .question-conditions-equipment-container {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 7px;
  }

  .question-conditions {
    margin-right: 4px;
  }

  .question-equipment {
    margin-left: 4px;
  }

  .question-conditions,
  .question-equipment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .question-main > .field-wrapper {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  .question-details-filler,
  .question-conditions-filler,
  .question-equipment-filler {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .question-details-ss-bt-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .question-details-sub {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .question-details-sub-inner {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .question-details-sub-inner > .field-wrapper {
    display: flex;
    width: 100%;
  }

  .temperature-wrapper, .suit-wrapper, .weight-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .temperature-wrapper > .field-wrapper {
    width: 100%;
  }

  .suit-wrapper > .field-wrapper {
    width: 100%;
  }

  .weight-wrapper > .field-wrapper {
    width: 100%;
  }

  .soft-border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.212);
  }

  .soft-border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.212);
  }
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  .sub-header,
  .sub-header-main h2 {
    font-size: var(--font-xxl);
  }

  .sub-header img {
    height: 35px;
    margin: 0 6px 0 6px;
  }

  .sub-header-main img {
    height: 35px;
    margin: 0 6px 0 6px;
  }


  .main-field-header h3 {
    font-size: var(--font-xl);
  }

  .main-field-header img {
    height: 40px;
    margin-right: 8px;
  }
}


.buddy-content > img {
  height: 40px;
}

















.dive-details {
  width: 98%;
}

.notes-buddy-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.buddy-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-block {
  opacity: 0.8;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.unfed,
.fed,
.no-buddies,
.all-buddies {
  margin: 0;
  font-weight: bold;
}

.unfed,
.no-buddies {
  color: var(--danger);
}

.fed,
.all-buddies {
  color: var(--submit);
}

.dive-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.dive-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.dive-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.dive-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.notes-buddy-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.subsection-title img {
  height: 42px;
  margin-right: 8px;
}

.notes h2,
.buddies h2 {
  font-size: 3.2rem;
  margin: 0;
}

.notes h3,
.buddies h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.notes table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.notes td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.notes th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
}

.notes tr:nth-child(even) {
  background-color: #f3f3fd;
}

.buddy-container p {
  margin: 12px 0;
}

.buddy-container a {
  text-decoration: none;
  color: #111;
}

.buddy-container .btn {
  padding: 3px 10px;
  margin-right: 10px;
}


.usr-img {
  width: 100%;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .dive-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }
}
