.sub-header {
  display: flex;
  align-items: center;
}

.sub-header img {
  height: 30px;
  margin-left: 10px;
}

.sub-header img:first-of-type {
  margin-left: 15px;
}

.main-field-header {
  display: flex;
  align-items: center;
}

.main-field-header img {
  height: 30px;
  margin-left: px;
}

.main-field-header img:first-of-type {
  margin-left: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input,
select {
  width: 100%;
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}


@media only screen and (min-width: 768px) {
  .questions {
    display: flex;
    flex-direction: column;
  }

  .question-main,
  .question-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .question-conditions-equipment-container {
    display: flex;
    flex-direction: row;
  }

  .question-conditions,
  .question-equipment {
    /* border: 4px dotted green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .question-main > .field-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .question-details-filler,
  .question-conditions-filler,
  .question-equipment-filler {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .question-details-ss-bt-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .question-details-sub {
    /* border: 4px dotted pink; */
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .question-details-sub-inner {
    display: flex;
    flex-direction: row;
  }

  .question-details-sub-inner > .field-wrapper {
    /* border: 4px dotted pink; */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}






@media only screen and (min-width: 768px) {
  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  .sub-header h2 {
    font-size: var(--font-xxl);
  }

  .sub-header img {
    height: 35px;
    margin-left: 15px;
  }

  .sub-header img:first-of-type {
    margin-left: 20px;
  }

  .main-field-header h3 {
    font-size: var(--font-xl);
  }

  .main-field-header img {
    height: 40px;
    margin-left: 8px;
  }

  .main-field-header img:first-of-type {
    margin-left: 10px;
  }
}
