body {
  background: #0e1b33;
}

/* nav {
  margin-top: 10px;
} */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

main > section {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-lottie {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
}

.lottie-file {
  max-height: 100%;
  max-width: 100%;
}

.logo-container {
  max-width: 450px;
}

.dive-container {
  width: 80%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: white;
}

.login h1 {
  font-size: clamp(2.5rem, 3vw, 3.8rem);
  margin: 10px 0 16px 0;
  font-weight: 700;
}

.cozy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: white;
}

.cozy-container h1 {
  font-size: clamp(2.5rem, 3vw, 3.8rem);
  margin: 10px 0 16px 0;
  font-weight: 700;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login label {
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: white;
  font-weight: 600;
}

.login input {
  font-size: 1rem;
  padding: 2px;
  line-height: 28px;
  border-radius: 2px;
}

.login .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 10px;
}

.logo-img {
  height: 350px;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: space-around;
  }

  main > section {
    width: 40%;
    min-height: calc(100vh - 50px);
  }

  .login {
    padding: 20px;
    border-radius: 6px;
  }

  .cozy-container {
    padding: 20px;
    border-radius: 6px;
  }

  .logo-container {
    max-width: 520px;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    margin-top: 0;
  }

  main > section {
    padding: 0 5px;
    min-height: calc(100vh - 57.6px);
  }
}
