.page-header {
  margin-bottom: 10px;
  justify-content: space-between;
}

.page-header-sub-title {
  display: flex;
}

.add-a-new {
  display: flex;
  /* width: 100%; */
}

.card-container {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: 15px;
  background-color: rgba(44, 78, 126, 0.65);
  border: solid 5px rgba(206, 171, 56, 0.5);
  box-shadow: 4px 4px 6px -1px rgb(73, 94, 163);
  position: relative;
  border-radius: 3px;
  opacity: .92;
}

.card-bg {
  position: absolute;
  display: inline-flex;
  left: 0;
  width: 93%;
  height: 93%;
  opacity: .44;
  margin: 1px;
}


.card-content {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.card > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 6px 0;
  font-size: var(--font-xtreme);
  font-weight: 550;
}

.card h3, p {
  margin: 0;
  font-size: var(--font-l);
}
.card h3 {
  font-weight: 525;
}

.card p {
  font-weight: 400;
}

.page-header > img {
  margin-left: 10px;
}

.page-header > img:first-of-type {
  margin-left: 15px;
}

@media only screen and (min-width: 776px) {

  .card-bg {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    left: 0;
    width: 63%;
    height: 63%;
    opacity: .42;
  }

  .card {
    width: 150px;
    height: 150px;
  }

  .card h2 {
    margin: 6px 0;
    font-size: var(--font-xxl);
  }
  
  .card h3, p {
    margin: 0;
    font-size: var(--font-reg);
  }

  .card h3 {
    margin: 1px 0;
    font-size: var(--font-reg);
  }

}