{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/buddy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <div class="page-header-sub-title">
    <img src="{% static 'images/023-divers.svg' %}" alt="logo" />
    <h1>My Buddies</h1>
  </div>
  <div class="page-header-sub-button">
    <section class="add-a-new">
    <a class="add-a-new-link btn submit" href="{% url 'buddies_create' %}">+ Buddy</a>
    </section>
  </div>
</section>

<section class="card-container">
  {% for buddy in buddies %}
  <div class="card">
    <a href="{% url 'buddies_detail' buddy.id %}">
      <div class="card-content">
        {% if buddy.icon %}
          {% if buddy.icon == "A" %}
          <img src="{% static 'images/014-diver.svg' %}" alt="brunette diver" />
          {% elif buddy.icon == "B" %}
          <img src="{% static 'images/015-diver.svg' %}" alt="blonde diver" />
          {% else %}
          <img src="{% static 'images/016-diver.svg' %}" alt="mysterious diver" />
          {% endif %}
        {% endif %}
        <h2>{{ buddy.name }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}